body {
    background-color: bisque;
}

.board{
    border: 20px solid white;
    background-color: white;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    height: auto;
}

img{
    width: 100%;
    margin-bottom: 12px;
    height: auto;

    border-radius: 10px;
    
    
}

h1{
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
    color: blueviolet;

}
p{
    margin: 0;
    font-family: sans-serif;
    font-size: small;
}
.first{
    background-color: beige;
    flex-direction: row;
    width: 400px;
    height: auto;
    align-items: flex-start;
    
}
h3{
    color: plum;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0 0 8px 0;
}
.list{
    margin: 0;
    padding-left: 20px; }

    .one{
        font-weight: bold;
    }
    .two{
        font-weight: bold;
    }

    .three{
        font-weight: bold;
    }
    .curry{
        color: brown;
    }
    .cook{
        color: brown;
    }
    
    .content{
        color: brown;
    }
    hr{
        width: 100%;
   
    }

    table{
        width: 100%;
    }
